{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_filters %}

{% block title %}
    Contact Form
{% endblock %}

{% block header %}
    Contact Form
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-3"></div>
        <div class="col">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-outline-success mt-3" type="submit">Send FeedBack</button>
                <a class="btn btn-outline-primary mt-3" href="{% url 'index' %}">Back to main page</a>
            </form>
        </div>
        <div class="col-3"></div>
    </div>

{% endblock %}