{% extends 'base.html' %}

{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'message/css/message.css' %}">
<main class="inbox my-xl">
  <div class="content-box">
    <h3 class="inbox__title">Новые сообщения:(<span>{{count_of_unread}} | <a href="{% url 'accounts:create_message' %}" class="btn btn--sub btn--lg">Написать сообщение </a> | <a href="{% url 'accounts:outbox' %}" class="btn btn--sub btn--lg">Исходящие</a></span>)</h3>

    <ul class="messages">
      {% for pm in message_list %}
      {% if pm.is_read == False %}
      <li class="message message--unread">
        {% else %}
      <li class="message">
        {% endif %}
        <a href="{% url 'accounts:message' pm.id %}">
          <span class="message__author">From: {{pm.sender}}</span>
          <span class="message__subject">Subject: {{pm.subject}}</span>
          <span class="message__date">Date: {{pm.created}}</span>
        <center><span><a class="btn btn-outline-primary m-2"
                           href="{% url 'accounts:delete_message' pm.id %}">Delete message</a></span></center>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</main>

{% endblock content %}