{% extends 'base.html' %}

{% load static %}

{% block content %}
        <link rel="stylesheet" type="text/css" href="{% static 'message/css/message.css' %}">
    <link rel="script" type="text/css" href="{% static 'message/js/main.js' %}">
<main class="messagePage my-xl">
  <div class="content-box">
    <div class="message">
      <a class="backButton" href="{% url 'accounts:inbox' %}"><i class="im im-angle-left"></i></a>
      <h2 class="message__subject">{{ message.subject }}</h2>
        {% if message.sender %}
        <h2 class="message__author">{{ message.sender }}</h2>
        {% else %}
        <p class="message__author">{{ message.name }}</p>
        {% endif %}
        <p class="message__date">{{ message.created }}</p>
        <div class="message__body">{{ message.body|linebreaksbr }}</div>
    </div>
  <div align="center">
                <a class="btn btn-outline-primary m-2" href="{% url 'accounts:inbox' %}">Back to inbox</a>
{#                <a class="btn btn-outline-primary m-2" href="{% url 'accounts:reply' username %}">Reply</a>#}
        </div>

  </div>
</main>
{% endblock content %}