{% extends 'base.html' %}

{% load static %}

{% block content %}
        <link rel="stylesheet" type="text/css" href="{% static 'message/css/message.css' %}">
<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <form class="form" method="POST">
                {% csrf_token %}
                <div class="form__field">
                    <label for="formInput#text">{{ form.body }}</label>
                </div>

                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Отправить" />
            </form>
        </div>
    </div>
</main>

{% endblock content %}