{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% load static %}

{% block content %}
        <link rel="stylesheet" type="text/css" href="{% static 'message/css/message.css' %}">
<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <form method="post">
                {% csrf_token %}
                <table>
                    {{ form|crispy }}
                </table>
                <input align="center" class="btn btn-outline-primary" type="submit" value="Send message">
            </form>
        </div>
    </div>
</main>

{% endblock content %}