{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% block title %}Wants to change your password?{% endblock %}

{% block content %}
<div class="container d-flex flex-column">
  <div class="row align-items-center justify-content-center
      min-vh-100 g-0">
    <div class="col-12 col-md-8 col-lg-4 border-top border-3 border-primary">
      <div class="card shadow-sm">
        <div class="card-body">
          <div class="mb-4">
            <h5>Forgot Password?</h5>
            <p class="mb-2">Enter your registered email ID to reset the password
            </p>
          </div>
          <form method="post">
            <div class="mb-3">
                {% csrf_token %}
               {{ form|crispy }}
            </div>
            <div class="mb-3 d-grid">
              <input type="submit" class="btn btn-primary" value="Submit">
            </div>
            <span>Don't have an account? <a href="{% url 'accounts:register' %}">sign in</a></span>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}