{% extends 'base.html' %}

{% block title %}
    Posts list
{% endblock %}

{% block header %}
    Posts list
{% endblock %}

{% block content %}
    {% if object_list %}
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>№</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Likes</th>
                    <th>Dislikes</th>
                    <th>Read the post</th>
                </tr>
            </thead>
            <tbody>
            {% for post in object_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.author }}</td>
                    <td>{{ post.like.count }}</td>
                    <td>{{ post.dislike.count }}</td>
{#                    <td><a href="{% url 'quiz:details' uuid=exam.uuid %}">Details</a></td>#}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no posts yet!</p>
    {% endif %}
{% endblock %}