{% extends 'base.html' %}

{% block title %}
    Details of exam
{% endblock %}

{% block header %}
    {{ posts.title }}
    <style>

   header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
   }


   nav ul {
    list-style-type: none;
    padding: 5px;
   }

   nav ul a {
    text-decoration: none;
   }

   article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
   }
  </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>Description</td>
                            <td>{{ posts.title }}</td>
                        </tr>
                        <tr>
                            <td>Text</td>
                            <td>{{ posts.text }}</td>
                        </tr>
                        <tr>
                            <td>Post Author</td>
                            <td>{{ posts.author }}</td>
                        </tr>
                        <tr>
                            <td>Likers</td>
                            <td><h5 title="{% for user in likeusers %} {{ user.username }}, {% endfor %}">{{ posts.like.count }}</h5></td>
                        </tr>
                        <tr>
                            <td>Dislikers</td>
                            <td><h5 title="{% for users in dislikeusers %}{{ users.username }}, {% endfor %}">{{ posts.dislike.count }}</h5></td>
                        </tr>
                        <tr>
                            <td>Post created</td>
                            <td>{{ posts.create_date|date:'d-M-Y' }}</td>
                        </tr>
                    </tbody>
              </table>
            </div>
        </div>
    <div class="row">
            <form method="get" class="d-flex justify-content-center mt-1 mb-2"
                  action="{% url 'posts:update' posts.uuid %}">
                {% csrf_token %}
                <input class="btn btn-outline-success m-2" type="submit" value="Update">
                <a class="btn btn-outline-primary m-2" href="{% url 'posts:list' %}">Back to posts list</a>
            </form>
        </div>

  <div class="container">
   <header>
    <h2>Comments</h2>
   </header>
     {% if new_comment %}
    <h2>Your comment has been added.</h2>
    {% else %}
    <h2>Add a new comment</h2>
    <form method="post" action="{% url 'posts:detail' uuid=posts.uuid %}">
        {{ comment_form.as_p }}
        {% csrf_token %}
        <p><input class="btn btn-outline-success m-7" type="submit" value="Add comment"></p>
    </form>
    {% endif %}
    {% for comment in comments %}
   <nav>
    <ul>
     <li>Comment {{ forloop.counter }} by {{ comment.user.username }} {{ comment.created }}</li>
    </ul>
   </nav>
   <article>
    <p>{{ comment.body|linebreaks }}</p>
   </article>

   <footer></footer>
        {% empty %}
    <p>There are no comments yet.</p>
        {% endfor %}
        {% if is_paginated %}
    <div class="row">
        {% include 'includes/paginator.html' with page=posts %}
    </div>
    {% endif %}
{% endblock %}
